body
{
    background-color:#101;
}

header
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
nav
{
    width:100px;
    height:690px;
    background-color:#101;
    float:left;
    overflow:auto;
    padding-top:20px;
}
#navimg
{
    height:20px;
    width:24px;
}
#hdrimg
{
    margin-top:10px;
}
a
{
    margin-top:10px;
    width:10px;
    height:5px;
}

summary
{
    display:block;
}
article
{
    height:500px;
    width:1140px;
    background-color:#547;
    overflow:auto;
}
table
{
    width:1120px;
    height:275px;
    background-color:#cbe;
    margin-top:200px;
    margin-left:10px;
    border-spacing:10px;
    table-layout: fixed;
}
td
{
    background-color:#213;
}
#homeimg
{
    height:255px;
    width:267.5px;
}
table#about
{
    width:450px;
    height:480px;
    background-color:#cbe;
    margin-left:675px;
    border-spacing:10px;
    margin-top:5px;
    table-layout: fixed;
}
td#about
{
    background-color:#213;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}