body
{
    background-color:#101;
}
header
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
#hdrimg
{
    margin-top:10px;
}
#nav ul
{
    padding:0px;
    list-style-type:none;
    display:block;
    color:#dde;
    text-align:left;
}
#nav li
{
    margin-left:-40px;
    /* negative fixes the nav list going off to the right */
    padding-bottom:20px;
}
nav
{
    width:100px;
    height:690px;
    background-color:#101;
    float:left;
    overflow:auto;
}
#navimg
{
    height:20px;
    width:24px;
}
a
{
    margin-top:10px;
    border-radius:5px;
}
a #table
{
    margin:0px;
    border:0px;
}
/* for the table on the home page */
a#table:hover
{
    /* so the images don't behave like the nav elements*/
    background-color:transparent;
    transition:0s;
    border-radius:0px;
}
a:hover
{
    background-color:#325;
    transition:.5s;
    border-radius:5px;
}
summary
{
    display:block;
}
article
{
    height:490px;
    width:1130px;
    background-color:#547;
    overflow:auto;
    padding:5px;
}
/* div for text on the home page */
#homediv
{
    padding:5px;
    float:left;
    width:1000px;
    height:100px;
}
/* div for the text on the about page*/
#aboutdiv
{
    float:left;
    padding:5px;
    width:600px;
    height:210px;
    margin-bottom:5px;
}
table
{
    width:1120px;
    height:275px;
    background-color:#cbe;
    margin-top:200px;
    margin-left:10px;
    border-spacing:10px;
    table-layout: fixed;
}
td
{
    background-color:#213;
}
table#about
{
    width:450px;
    height:410px;
    background-color:#cbe;
    border-spacing:10px;
    table-layout: fixed;
    float:right;
    margin-top:-1px;
    /*negative top margin prevents scroll bar from appearing*/
}
td#about
{
    background-color:#213;
}
#homeimg
{
    height:255px;
    width:267.5px;
}
/*tk stands for Tiny Kait*/
img #tk
{
    margin-right:5px;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}
.hdingtxt
{
    color:#101;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:14pt;
}
.bdytxt
{
    color:#101;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    font-size:12pt;
}