body
{
    background-color:#101;
}
header
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
#hdrimg
{
    margin-top:10px;
    margin-left:25px;
}
nav
{
    width:100px;
    height:990px;
    background-color:#101;
    float:left;
    overflow:hidden;
}
#navimg
{
    height:20px;
    width:24px;
}
a
{
    margin-top:10px;
    width:10px;
    height:10px;
}
a:hover
{
    background-color:#324;
    transition: .5s;
    border-radius:5px;
}
#nav ul
{
    padding:0px;
    list-style-type:none;
    display:block;
    color:#dde;
    text-align:left;
}
#nav li
{
    margin-left:-40px;
    /* negative fixes the nav list going off to the right */
    list-style-type:circle;
    padding-bottom:20px;
}
summary
{
    display:block;
}
article
{
    height:800px;
    width:1140px;
    background-color:#547;
    overflow:auto;
    background-image: url(assets/background1.png);
}
table
{
    width:1100px;
    height:740px;
    margin-top:20px;
    background-color:transparent;
    border-spacing:20px;
    table-layout: fixed;
    /*empty-cells: hide;*/
    /* I want this in LATER because I need to see the cells to 
    build the site */
}

/* cell image size 248 x 218 - Make images 238 x 208 to account for 5px border*/

#tableimg
{
    border:5px solid #cbe;
}
td
{
    background-color:#213;
    height:218px;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}
.bdytext
{
    font-size: 20px;
    color: #101;
}
.footertxt
{
    font-size: 10px;
    color: #dde;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}