body
{
    background-color:#101;
}

header
{
    width:1140px;
    height:100px;
    background-color:#213;
    float:right;
    overflow:auto;
}
nav
{
    width:100px;
    height:690px;
    background-color:#101;
    float:left;
    overflow:auto;
    padding-top:20px;
}
#navimg
{
    height:20px;
    width:24px;
}
a
{
    margin-top:10px;
    width:10px;
    height:5px;
}
article
{
    height:500px;
    width:1140px;
    background-color:#547;
    overflow:auto;
}
table
{
    width:1120px;
    height:275px;
    background-color:#cbe;
    margin-top:200px;
    margin-left:10px;
    border-spacing:10px;
}
td
{
    background-color:#213;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}