body
{
    background-color:#101;
}
header
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
#hdrimg
{
    margin-top:10px;
}
#nav ul
{
    padding:0px;
    margin:0px;
    list-style-type:none;
    display:block;
    color:#dde;
    text-align:left;
}
#nav li
{
    padding:0px;
    margin-left:-40px;
    list-style-type:circle;
    display:block;
    color:#dde;
}
nav
{
    width:100px;
    height:690px;
    background-color:#101;
    float:left;
    overflow:auto;
    padding-top:20px;
}
#navimg
{
    height:20px;
    width:24px;
}
a
{
    margin-top:10px;
    border-radius:5px;
}
a:hover
{
    background-color:#325;
    transition:.5s;
    border-radius:5px;
}
summary
{
    display:block;
}
article
{
    height:500px;
    width:1140px;
    background-color:#547;
    overflow:auto;
}
table
{
    width:1120px;
    height:275px;
    background-color:#cbe;
    margin-top:200px;
    margin-left:10px;
    border-spacing:10px;
    table-layout: fixed;
}
td
{
    background-color:#213;
}
table#about
{
    width:450px;
    height:480px;
    background-color:#cbe;
    margin-left:675px;
    border-spacing:10px;
    margin-top:5px;
    table-layout: fixed;
}
td#about
{
    background-color:#213;
}
#homeimg
{
    height:255px;
    width:267.5px;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}
.hdingtxt
{
    color:#101;
}
.bdytxt
{
    color:#101;
}