body
{
    background-color:#101;
}

header
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
nav
{
    width:100px;
    height:690px;
    background-color:#101;
    float:left;
    overflow:auto;
    padding-top:20px;
}
#navimg
{
    height:20px;
    width:24px;
}
#hdrimg
{
    margin-top:10px;
}
a
{
    margin-top:10px;
    width:10px;
    height:15px;
}
a:hover
{
    background-color:#324;
    transition: .5s;
    border-radius:5px;
}
summary
{
    display:block;
}
article
{
    height:480px;
    width:1120px;
    background-color:#547;
    overflow:auto;
    padding:10px;
}
table
{
    width:1120px;
    height:275px;
    background-color:#cbe;
    margin-top:200px;
    margin-left:10px;
    border-spacing:10px;
    table-layout: fixed;
}
td
{
    background-color:#213;
}
#homeimg
{
    height:255px;
    width:267.5px;
}
table#about
{
    width:440px;
    height:470px;
    background-color:#cbe;
    float:right;
    border-spacing:10px;
    table-layout: fixed;
    margin-top:5px;
}
td#about
{
    background-color:#213;
}
footer
{
    width:1140px;
    height:100px;
    background-color:#213;
    overflow:auto;
}
.atext
{
    font-size: 20px;
    text-decoration:none;
    color: #dde;
}
.bdytext
{
    font-size: 20px;
    color: #101;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.hding
{
    font-size: 40px;
    color: #101;
    font-weight:bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}